$red:#EA1C24;
$black:#282828;
$gray:#4C4C4C;
$font:#737373;
$cat-color:#f0f0f0;



@mixin miniTablet-Logo {
    @media(min-width:600px) and (max-width:700px) {@content;}
}

@mixin Tablet-Logo {
    @media(min-width:700px) and (max-width:899px) {@content;}
}

@mixin Tablet  {
    @media(min-width:600px)and (max-width:899px) {@content;}
}

@mixin Desktop1 {
    @media(min-width:900px) and (max-width:1290px) {@content};
}

@mixin Desktop2 {
    @media(min-width:1291px) {@content}
}

.traktori-banner {
    background:url('./../../JM/new/tr2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.traktori-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.ratarstvo-banner {
    background:url('./../../JM/new/rat.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.ratarstvo-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.stocarstvo-banner {
    background:url('./../../JM/new/stoc2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.stocarstvo-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}


.vocarstvo-banner {
    background:url('./../../JM/new/voc.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {

        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem
        }


        @include Desktop1 {
            width:650px;
            
        }

        @include Desktop2() {
           width:800px; 
           
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.vocarstvo-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.transport-banner {
    background:url('./../../JM/new/transport2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
        
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
            
        }

        @include Desktop2() {
           width:800px; 
           
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.transport-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.5);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.about-us-banner {
    background:url('./../../JM/new/about.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.about-us-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.finance-banner {
    background:url('./../../JM/new/finance.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.finance-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}

.servis-banner {
    background:url('./../../JM/new/servis3.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.servis-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}


.korpa-banner {
    background:url('./../../JM/new/cart.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:30vh;
    position:relative;
    z-index:-11000;
    text-align:left;
    padding:1rem 0;
    display:grid;
    place-content:center;

    @include Tablet {
        height:30vh;
    }

    @include Desktop1 {
        height:30vh;
    }

    @include Desktop2 {
        height:30vh;
    }


    .cate-banner-info {
        padding-top:1rem;
        text-align:center;

        @include Tablet() {
            width:100%;
            margin:0 auto;
            margin-top:1rem;
        }


        @include Desktop1 {
            width:650px;
        }

        @include Desktop2() {
           width:800px; 
        }
        
        
    }

    h1 {
        position:relative;
        z-index:-1;
        color:$cat-color;
        font-size:2rem;
        display:inline-block;
        margin:0;

        @include Desktop1() {
            font-size:3rem;
        }

        @include Desktop2() {
            font-size:3rem;
        }
    }

    p {
        color:$cat-color;
        z-index:-1;
        position:relative;
        font-size:.9rem;
        font-weight:300;
        width:80%;
        margin:0 auto;
        padding:.5rem 0;
    }
}

.korpa-banner::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    height: 100%;
    width:100%;
    z-index:-11000;
}


.carraro-logo {
    background:url('./../../JM/carraro-logo/vigneto.png');
    width:150px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.imt-logo {
    background:url('./../../JM/IMT/imt549.jpg');
    width:160px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.solis-logo {
    background:url('./../../JM/Solis/solis-60n.png');
    width:160px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.ursus-logo {
    background:url('./../../JM/Ursus/UrsusC-350.png');
    width:160px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.zetor-logo {
    background:url('./../../JM/Zetor/zetor-proxima-power.jpg');
    width:170px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.mahindra-logo {
    background:url('./../../JM/Mahindra/475mkm.jpg');
    width:170px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.john-deere-logo {
    background:url('./../../JM/JohnDeere/5045D.webp');
    width:170px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.belarus-logo {
    background:url('./../../JM/Belarus/B1221.jpg');
    width:170px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.yto-logo {
    background:url('./../../JM/YTO/YTO-554.jpg');
    width:175px;
    height:150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}